html{
    margin: 0;
}

body{
    display: block;
    justify-content: center;
    align-items: center;
}

#info{
    color: rgb(20, 19, 20);
    margin-left: 25%;
}

span{
    display: block;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 100px;
    width: 60px;
    background-color: black;
    padding: 10px 30px;
    border-radius: 8px;
    margin: 3px;
    border: 3px solid black;
}

#red{
    background: rgb(151, 17, 17);
}
#blue{
    background: rgb(17, 19, 151);
}
#green{
    background: rgb(17, 151, 51);
}
#yellow{
    background: rgb(182, 248, 2);
}
