@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}



#main{
    width: 600px;
    height: 300px;
    position: absolute;
    top: 30%; 
    left: 28%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px 0;
}

#quote{
    margin-top: 50px;
}

/* #quote-text h2{
    position: relative;
}

#quote-text h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(11, 95, 95);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
} */

#quote blockquote::before, #quote blockquote::after{
    content: '"';
}

#quote span{
    display: block;
    margin-top: 50px;
    float: right;
    position: relative;
}

#quote span::before{
    content: '';
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -12px;
    background: black;
}

#main button{
    background: aqua;
    margin-top: 80px;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

